.vscode/**
.history/**
.claude/**
src/**
test/**
example/**
node_modules/**
out-packaged/**
out-test/**
tsconfig.json
tsconfig.test.json
script-runner.config.json
pnpm-lock.yaml
package-lock.json
.gitignore
.DS_Store
**/.DS_Store
TODO.md
CLAUDE.md
